
<%- include('../../base/header'); -%>
  <!-- Banner Image With Text -->
  <div class="banner">
    <div class="banner-content">
        <img src="assets/banner_image.jpg" alt="Banner Image">
        <h1>FUN IS AWAITING</h1>
    </div>
  </div>

  <!-- Featured Attractions Content -->
  <section class="featured-attractions">
    <h2>FEATURED ATTRACTIONS</h2>
    <div class="attraction-items">
      <div class="attraction-item">
        <img src="assets/attraction_image_1.jpg" alt="Attraction 1">
        <h3>Aquatic Odyssey</h3>
        <p>Dive into an underwater adventure in this massive, futuristic aquarium complex. Visitors explore a series of interconnected domes, each showcasing a different aquatic ecosystem, from vibrant coral reefs to mysterious deep-sea trenches.</p>
      </div>
      <div class="attraction-item">
        <img src="assets/attraction_image_1.jpg" alt="Attraction 2">
        <h3>SkySoar</h3>
        <p>An exhilarating aerial adventure that combines ziplining and virtual reality. Visitors are suited up with VR gear, enabling them to "fly" through breathtaking landscapes, experiencing the rush of wind and stunning visuals as they zip along suspended lines.</p>
      </div>
      <div class="attraction-item">
        <img src="assets/attraction_image_1.jpg" alt="Attraction 3">
        <h3>TimeWarp Theater</h3>
        <p>A state-of-the-art immersive theater experience that transports audiences through various eras and historical events. Using cutting-edge technology, this multisensory show combines live actors, holographic displays, and special effects to bring history to life.</p>
      </div>
    </div>
    <div class="more-info-button">
        <a href="rides.html" class="purple-button">
          <span>More</span><br>
          <span>Info</span>
        </a>
      </div>
  </section>

<%- include('../shared/tickets'); -%>
  
<%- include('../../base/footer'); -%>



