<%- include('../../base/header'); -%>
<!-- Nav Links -->
<div class="nav-links">
  <ul>
    <li><a href="index.html" class="active">HOME</a></li>
    <li><a href="rides.html">RIDES & ATTRACTIONS</a></li>
    <li><a href="info.html">PARK INFORMATION</a></li>
  </ul>
</div>
</nav>
</header>
<main>
<!-- Banner Image With Text -->
<div class="banner">
<div class="banner-content slide-left">
<img src="assets/banner_image.jpg" alt="Banner Image"> <!-- https://unsplash.com/photos/multicolored-amusement-park-ride-bEXy1YQNIII -->
  <h1>FUN IS AWAITING</h1>
</div>
</div>

<!-- Featured Attractions Content -->
<section class="featured-attractions">
<h2>FEATURED ATTRACTIONS</h2>
<div class="attraction-items">
<div class="attraction-item hover14">
  <img src="assets/rides/aquatic-odyssey.jpg" alt="Aquatic_Odyssey"> <!-- https://unsplash.com/photos/blue-plastic-fork-on-white-paper-9EOUc-7yUko -->
  <article>
    <h3>Aquatic Odyssey</h3>
    <p>
      Dive into an underwater adventure in this massive, futuristic aquarium complex. Visitors explore a series of interconnected domes, each showcasing a different aquatic ecosystem, from vibrant coral reefs to mysterious deep-sea trenches.
    </p>
  </article>
</div>

<div class="attraction-item">
  <img src="assets/rides/great-fall.png" alt="Great_Fall"> <!-- AI Generated Image by Playground AI with stable diffusion 3.0 -->
  <article>
    <h3>The Great Fall</h3>
    <p>
      Prepare for the ultimate adrenaline rush as you embark on 'The Great Fall,' an awe-inspiring ride that takes the excitement to new heights - quite literally! This towering adventure promises an exhilarating ascent followed by an adrenaline-pumping plunge that will leave you breathless and craving more.
    </p>
  </article>
</div>

<div class="attraction-item">
  <img src="assets/rides/timewarp-theater.jpg" alt="TimeWarp_Theater"> <!-- https://unsplash.com/photos/people-walking-on-park-with-ferris-wheel-in-the-distance-8BlvN8VOVZI -->
  <article>
    <h3>TimeWarp Theater</h3>
    <p>
      A state-of-the-art immersive theater experience that transports audiences through various eras and historical events. Using cutting-edge technology, this multisensory show combines live actors, holographic displays, and special effects to bring history to life.
    </p>
  </article>
</div>
</div>
<!-- More Info Button -->
<div class="more-info-button">
  <a href="rides.html" class="purple-button">
    <span>More</span><br>
    <span>Info</span>
  </a>
</div>
</section>

<%- include('../shared/tickets'); -%>
  
<%- include('../../base/footer'); -%>



