<%- include('../../base/header'); -%>
<section   class="info-section">
    <h2 class="info-section__headlines">FOOD & DRINK</h2>
    <section  class="info-section__food-offerings">
        <div class="info-section__food-offerings__items">
            <% [
            {src: "assets/foods/jalapeno.jpeg", name: "Jalapeno Mashed", desc: "Prepare your taste buds for a culinary adventure as we present our tantalizing Jalapeño Mashed Potatoes, a fiery twist on the classic comfort dish. Immerse yourself in the perfect fusion of creamy potatoes and the bold, zesty kick of jalapeños, creating a side dish that's not just a complement but a flavor-packed experience."}, 
            {src: "assets/foods/icetea.jpeg", name: "Peach Iced Tea", desc: "Beat the heat and elevate your park experience with our refreshing Peach Iced Tea, a symphony of fruity sweetness and cool rejuvenation. Immerse yourself in the pure essence of summer as you sip on this delightful beverage, crafted to be the perfect companion for your theme park adventure."}, 
            {src: "assets/foods/mushroom.jpeg", name: "Swiss Mushroom", desc: "Embark on a culinary adventure at our theme park with our delectable Swiss Mushroom Burger – a tantalizing masterpiece crafted for those who crave the perfect blend of savory flavors. Immerse your taste buds in a symphony of succulent beef, perfectly grilled to perfection and topped with a generous layer of Swiss cheese that melts into a creamy embrace."}].forEach(function(cFood){ %>
                <%- include('../shared/thumbnail', {data: cFood}); %>
              <% }); %>
        </div>
    
    </section>
    
    <section  class="info-section__shopping">
        <h2 class="info-section__headlines">SHOPPING</h2>
        <div class="info-section__shopping__items">
            <% [{src: "assets/shops/candy-shop.png", name: "Candy Shop", desc: "Step into a world of confectionery delights as you enter our Candy Shop - a haven for sugar enthusiasts and a place where the air is filled with the irresistible aroma of sweet treats. Immerse yourself in a colorful wonderland where every corner is adorned with a tempting array of candies, chocolates, and sugary delights."}, 
            {src: "assets/shops/toy-shop.png", name: "Toy Shop", desc: "Enter a realm of enchantment at our Toy Shop, where imagination knows no bounds and every shelf holds the promise of endless play. Step into a world of whimsy and wonder as you discover a curated collection of toys that inspire creativity, ignite laughter, and bring joy to hearts both young and young at heart."}, 
            {src: "assets/shops/gift-shop.png", name: "Gift Shop", desc: "Embark on a journey of discovery as you step into our Gift Shop, where every shelf is a treasure trove of delights waiting to be unwrapped. Immerse yourself in a world of charming trinkets, unique souvenirs, and carefully curated gifts that capture the spirit of your theme park adventure."}].forEach(function(elem){ %>
                <%- include('../shared/thumbnail', {data: elem}); %>
              <% }); %>
        </div>
    
    </section>
    
    <section  class="info-section__faq">
        <h2 class="info-section__headlines">FAQ</h2>
        <ul>
            <li>
                <h3>Question 1?</h3>
            </li>
            <li>
                <strong>Answer 1</strong>
            </li>
            <li>
                <h3>Question 2?</h3>
            </li>
            <li>
                <strong>Answer 2</strong>
            </li>
            <li>
                <h3>Question 3?</h3>
            </li>
            <li>
                <strong>Answer 3</strong>
            </li>
        </ul>
    </section>
    <section class="map-section">
        <h2 class="info-section__headlines">MAP OF THE PARK</h2>
        <img src="assets/map.png" alt="Map of the park" >
    </section>

</section>
<%- include('../../base/footer'); -%>
