  <!-- Footer -->
  <footer class="footer">
    <div class="footer-section">
      <h3>Information</h3>
      <p>Park Hours: Monday-Sunday, 9:00 AM - 7:00 PM </p>
      <p>Address: 1234 Park Avenue, City, State, ZIP</p> 
      <p>FAQs: Check out our frequently asked questions to learn more about visiting the park.</p>
    </div>
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Phone: +123-456-7890
      <p>Email: info@yourthemepark.com</p>
      <p>Follow Us: Connect with us on social media: Facebook, Instagram, Twitter</p>
      <p>Customer Support: For inquiries, feedback, or assistance, please reach out through our social media channels.</p>
    </div>
    <div class="footer-section"></div>
    <div class="footer-section">
      <img src="logo.png" alt="Footer Logo">
    </div>
  </footer>

</body>
</html>