<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Theme Park</title>
  <link rel="stylesheet" href="src/base/styles.css">
</head>
<body>
  <header>
    <!-- Navigation bar -->
    <nav class="navbar">
      <div class="logo">
        <img src="logo.png" alt="Logo">
      </div>
      <div class="nav-links">
        <ul>
          <li><a href="info.html">RIDES & ATTRACTIONS</a></li>
          <li><a href="info.html">PARK INFORMATION</a></li>
        </ul>
      </div>
    </nav>
  </header>