@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap');

/* Resetting default margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}

/* Typography Styles */
h2 {
  font-family: 'Roboto', sans-serif;
  color: #3C153B;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

}

 h3 {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #FF6A29;
  font-size: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #3C153B;
  font-size: 15px;
}

/* Styles for the navbar */
header {
  background-color: #3C153B; 
  padding: 30px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Logo */
.logo img {
  display: block;
  width: auto;
  height: 80px;
}

/* Nav Links */
.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #FFD1C7;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Hover effect for links */
.nav-links a:hover {
  color: #FF6A29;
}

/* style for the active link */
.nav-links a.active {
  color: #FF6A29;
}


/* Styles for the banner */
.banner {
  text-align: center;
  margin-bottom: 20px; 
}

.banner img {
  max-width: 100%;
}

.banner-content {
  position: relative;
}

/* Banner Text */
.banner-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD1C7;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Code From HTML.am (https://www.html.am/html-codes/marquees/css-slide-in-text.cfm) */
/* Styles for the container with the slide effect */
.slide-left {
  width: 100%;
  overflow: hidden;
}

/* Apply the slide-left animation to h1 elements */
.slide-left h1 {
  animation: slide-left 6s; /* Apply the slide-left animation over 6 seconds */
}

/* Define the keyframes for the slide-left animation */
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%; 
  }
}

/* Styles for the sections */
.featured-attractions, 
.info-section, .rides-section {
  text-align: center;
  margin: 20px auto; 
  padding: 20px;
  background-color: white;
}

.featured-attractions h2 {
  margin-bottom: 40px;
}

/* Styles for attraction items */
.attraction-items, .info-section__food-offerings__items,  .info-section__shopping__items, .rides-section__thrill-rides__items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* We are enforcing a maximum height, the thumbnail should not grow infinitely */
.thumbnail-horizontal-item, .thumbnail-horizontal-item__picture {
  max-height: 400px;
}
/* Should have some space between the tumbnail and the next item */
.thumbnail-horizontal-item{
  margin-bottom: 40px;
}
/* Row aligment will be used to achive the look in the wire frame */
.thumbnail-horizontal-item article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
/* The two containers are evenly split */
.thumbnail-horizontal-item__picture, .thumbnail-horizontal-item__text {
  flex-basis: 45%;
  max-width: 50%;
}
/* Making sure the img cannot overgrow the container */
.thumbnail-horizontal-item__picture img, .attraction-item img, .thumbnail-item img  {
  max-width: 100%;
  max-height: 100%;
}
/* The picture in the container should be centered */
.thumbnail-horizontal-item__picture  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.thumbnail-horizontal-item__text {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.attraction-item, .thumbnail-item {
  flex-basis: 30%;
  margin-bottom: 20px;
}

/* Styles for the more info button */
.purple-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #3C153B;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.purple-button:hover {
  background-color: #683665;
}

/* Styles for Ticket Options section */
.ticket-options {
  text-align: center;
  margin: 40px auto;
}

.ticket-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ticket-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
}

.ticket-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 45%; /* Two cards per row for larger screens */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #FFD1C7;
}

.ticket-info {
  flex: 1;
  padding: 20px;
}

.ticket-details {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.ticket-info h3 {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.ticket-details p {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Ticket Card Button */
.ticket-details .purple-button {
  display: block;
  padding: 10px 20px;
  background-color: #FF6A29;
  color: #3C153B;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  width: 100px; 
  margin: 0 auto;
}

.ticket-details .purple-button:hover {
  background-color: #ff9e75;
}

/* Headlines Styles */
.info-section__headlines, .rides-section__headlines, .show-section__headlines {
  text-align: center;
}

/* FAQ Section Styles */
.info-section__faq ul {
  list-style: none; 
}

.info-section__faq{
  width: 60%; 
  margin: 0 auto; 
  text-align: center;
}

/* MAP Styles */
.map-section, .map-section img {
  padding-top: 30px;
  max-width: 100%;
}

/* Styles for the footer */
.footer {
  background-color: #3C153B;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  padding-left: 40px;
  margin-right: 20px;
  text-align: left;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  color: #FFD1C7;
}