<div class="thumbnail-item">
    <article>
        <h3>
            <%= data.name %>
        </h3>
        <img src="assets/attraction_image_1.jpg" alt="Attraction <%= data.id %>">
        <p>
            <%= data.desc %>
        </p>
    </article>

</div>