<div class="thumbnail-item">
    <article>
        <h3>
            <%= data.name %>
        </h3>
        <img src="<%= data.src %>" alt="<%= data.name %>">
        <p>
            <%= data.desc %>
        </p>
    </article>

</div>