<div class="thumbnail-horizontal-item">
    <article>
        <div class="thumbnail-horizontal-item__picture">
            <img src="assets/attraction_image_1.jpg" alt="Attraction <%= data.id %>">
        </div>
        <div class="thumbnail-horizontal-item__text">
            <div>
                <h3>
                    <%= data.name %>
                </h3>
                <p>
                    <%= data.desc %>
                </p>
            </div>
        </div>
    </article>

</div>